.body {
    margin: 0;
    color: #8c6c6a;
    background: #c8c8c8;
    font: 600 16px/18px 'open Sans', sans-serif;
}

/**,:after,::before{box-sizing: border-box;}: Isso define o modelo de caixa para todos os elementos do documento, bem como para os pseudoelementos ::before e ::after,
 para ser "border-box". Isso significa que o tamanho total de cada elemento incluirá sua largura e altura, bem como as bordas e o preenchimento.

.clearfix::after,.clearfix::before{content: '';display: table;}: Isso cria uma técnica de limpeza de flutuação para o elemento com a classe "clearfix". Ele adiciona 
um elemento vazio, usando os pseudoelementos ::before e ::after, com display: table, que ajuda a forçar o elemento com a classe "clearfix" a ter altura e envolver todo 
o seu conteúdo, mesmo que ele contenha elementos flutuantes.

.clearfix::after{clear: both;display: block;}: Esta regra adiciona um estilo para limpar flutuações. Ele faz com que o pseudoelemento ::after do elemento com a classe 
"clearfix" seja exibido como um bloco, e também limpe flutuações à esquerda e à direita, permitindo que o conteúdo flutuante seja envolvido corretamente.

a{color: inherit;text-decoration: none;}: Isso define estilos para todos os links (elementos <a>) no documento. Ele define a cor do link como herdada do elemento pai e 
remove qualquer decoração de texto, como sublinhado ou cor diferente para links.*/
*,
:after,
::before {
    box-sizing: border-box;
}

.clearfix::after,
.clearfix::before {
    content: '';
    display: table;
}

.clearfix::after {
    clear: both;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

.group {
    position: relative;
}

/* 
  apartir da propriedade absolute todas as outras propriedades vão ser em relação ao pai
    transform: translateY(-70%); alinhado verticalmente no meio do seu elemento pai usando a propriedade "transform: translateY(-50%)".
  */
.checks {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-45%);

    
}

/*refaz o backgroud  do checkbox quando não está checked*/
.checks:not(:checked){
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*border: 1px solid #999;*/
    border-radius: 1px;
    width: 13px;
    height: 13px;
    outline: none;
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

/*muda a label quando carrego no checked*/
.checks:not(:checked) +label{
    color: rgba(255, 255, 255, 0.2);
}
/*
.checks:not(:checked)::before{
    content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-color: rgba(255, 255, 255, .5);;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  border-radius: 3px;
}*/

/*Keep me Signed in*/
/*
  .icon {
    padding-left: 25px;
  }
*/
/*
  label[id="KeepmeSignedin"] {
    padding-left: 25px;
    color: white;
  }*/
/* Keep me Signed in*/
.KeepmeSignedin {
    padding-left: 25px;
    color: white;
}

/*display: block é uma propriedade CSS que define o elemento como um bloco, em vez de um elemento em linha. Isso significa que ele preencherá toda a largura 
  disponível em sua linha e permitirá que outras propriedades, como margin, sejam aplicadas a ele.

margin: 0 auto é uma propriedade CSS que define as margens superior e inferior como 0 e a margem esquerda e direita como auto. Isso tem o efeito de centralizar 
horizontalmente um elemento, como um botão, dentro do seu contêiner. Quando combinado com display: block, o botão será centralizado horizontalmente em seu contêiner.*/

/*butão sign in*/
.buttonSignIn {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
}

/*
#buttonId {
    display: block;
    margin: 0 auto;
}
*/
/*o que contem o login todo*/
.login-wrap {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    background: url(https://valeriushub.com/wp-content/uploads/2020/11/homepage1-1-scaled.jpg?id=5621) no-repeat center;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 24), 0 17px 50px 0 rgba(0, 0, 0, .24);
}

/* a parte azul por cima da imagem
e o sign que não está selecionado
*/
.login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: rgba(40, 57, 101, .6);
    color: rgba(255, 255, 255, 0.5);
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear;
}


.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
    display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
    text-transform: uppercase;
}



.login-html .tab {
    font-size: 22px;
    margin-right: 15px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

/* sign que está selecionado portanto checked*/
.login-html .sign-in:checked+.tab,
.login-html .sign-up:checked+.tab {
    color: #fff;
    border-color: #1161ee;
}

.login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

/*68*/

.login-form .group {
    margin-bottom: 15px;
}

.login-form .group .input,
.login-form .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1);
}

.login-form .group input[id="user"] {
    color: white;
}

/* password*/
.login-form .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle;
    color: white;
}

/* cor do texto do username e password*/
.label {
    color: rgba(255, 255, 255, 0.5);
}

/*cor do texto do butão*/
.button {
    color: white;
}

/*por o username e password em cima do input text respetivamente
display block ocupar toda a largura disponível do elemento pai na horizontal
*/

.login-form .group label {
    display: block;
    margin-bottom: 5px;
    
}

.login-form .group .input {
    display: block;
    width: 100%;
    
}

/* separar o sign in do username por 5px*/
.login-html .tab {
    margin-bottom: 20px;
    
}


/* forgot password color*/
.forgotPassword {
    color: white;
}



.login-form .group label .checks {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1);
}

.login-form .group label .icon:before,
.login-form .group label .icon::after {
    content: '';
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0;
    
}

.login-form .group label .icon:before {
    left: 3px;
    width: 3px;
    bottom: 6px;
    transform: scale(0) rotate(0);
    color: white;
}

.login-form .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
    
}

.login-form .group .check:checked+label {
    color: #fff;
    
}

.login-form .group .check:checked+label .icon {
    background: #1161ee;
}


/*check*/
.login-form .group .check:checked+label .icon::before {
    transition: scale(1) rotate(45deg);
    
    
}

.login-form .group .check:checked+label .icon::after {
    transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked+.tab+.sign-up+.tab+.login-form .sign-in-htm {
    transform: rotate(0);
    
    
}

.login-html .sign-up:checked+.tab+.login-form .sign-up-htm {
    transform: rotate(0);
    
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, .2);
}

.foot-lnk {
    text-align: center;
}