<p>user-data works!</p>

<!--
    <mat-form-field class="search-bar" appearance="fill">
    <mat-label>Search countries by name</mat-label>
    <input matInput />
    <mat-icon matPrefix color="primary">search</mat-icon>
</mat-form-field>
-->

<!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search .search-icon" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>

  -->

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<div class="input-group rounded smaller-size" style="position: relative;">
  <input type="search" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="search-addon" [(ngModel)]="searchValue" (keyup)="applyFilter($event)" />
  <span class="input-group-text">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="fa fa-search" id="search-icon" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>
  </span>
</div>



<div class="mat-elevation-z8 table-container">

    <table class="table">
        <thead>
            <tr class="table-header-row">
                <th class="table-header-cell" colspan="2">User Information</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let property of filteredColumns?.tabela; let i = index">
                <tr class="table-row">
                    <td class="table-cell" scope="row">{{ property.column }} </td>
                    <td class="table-cell">{{ property.row }}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>


<!--<div class="mat-elevation-z8 table-container">
    <h2>User Information</h2>

    <table class="table">
        <thead>
            <tr class="table-header-row">
                <th class="table-header-cell" colspan="2">User Information</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let property of filteredColumns">
                <ng-container *ngIf="property !== 'permissions' else permissionsBlock">
                    <tr class="table-row">
                        <td class="table-cell" scope="row">{{ property }} </td>
                        <td class="table-cell">{{ manageTableNamesError(currentUser?.[property] )}}</td>
                    </tr>
                </ng-container>
                <ng-template #permissionsBlock>
                    <ng-container *ngFor="let permission of currentUserAux?.[property]">
                        <tr class="table-row">
                            <td class="table-cell" scope="row">{{ manageTableNamesError(permission).id_permission}}</td>
                            <td class="table-cell">{{ manageTableNamesError(permission).description}}</td>
                        </tr>
                    </ng-container>
                </ng-template>
            </ng-container>
        </tbody>
    </table>
</div>-->
